/* Estilos Generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Encabezado */
/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative; /* Se asegura que los elementos hijos puedan posicionarse en relación a este */
}

/* Icono de Configuración */
.settings-icon {
    position: absolute;
    top: 100%; /* Justo debajo del encabezado */
    right: 0;
    padding: 10px; /* Espacio alrededor del icono para hacerlo más accesible */
    font-size: 24px; /* Tamaño del icono */
    color: #fff; /* Color del icono */
}


/* Contenedor Principal */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    padding: 20px;
}

/* Secciones */
section {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px; /* Esquinas semi-circulares */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 3px solid #007BFF; /* Borde más grueso y visible */
    margin-bottom: 20px; /* Espacio adicional en la parte inferior */
}

/* Títulos de Secciones */
section h2 {
    font-size: 1.2rem; /* Tamaño reducido del título */
    margin-bottom: 10px; /* Espacio debajo del título para el texto y las imágenes */
}

/* Estilos para texto e imágenes debajo del título */
section p {
    font-size: 0.9rem; /* Tamaño del texto ajustado */
}

section img {
    max-width: 80%; /* Ancho máximo para la imagen dentro de la sección */
    height: auto; /* Altura automática para mantener la proporción */
    margin-top: 10px; /* Espacio encima de la imagen */
}

/* Media queries para ajustes responsivos en pantallas más pequeñas */
@media (max-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    }

    .settings-icon {
        top: 5px;
        right: 5px;
        font-size: 20px; /* Tamaño más pequeño para el icono en pantallas pequeñas */
    }
}
